/* @theme kodark */

@import 'default';


h1, h2, h3, h4 {
    color: #ecc157;
}
h1 {
    font-size: 250%
}
h2 {
    font-size: 200%
}
h3 {
    font-size: 150%
}
.container {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: auto minmax(0, 4fr);
    gap: 1em;
}
.bal-container {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.alt-container {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: minmax(0, 6fr) minmax(0, 1fr) minmax(0, 6fr);
    gap: 0 1em;
    text-align: center;
    align-items: center;
}
.bal-container > *:nth-child(odd), .container > *:nth-child(odd) {
    text-align: right;
}
.bal-container pre, .container pre {
      text-align: left;
}
.comparison {
    text-align: left
}
strong {
    color: #ecc157;
}
ul {
    list-style-type: "→  ";
}
ul ul {
/*     list-style-type: circle; */
    list-style-type: "⤷ ";
}
.box {
    border: 1px solid #7f8ca6;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
}
/*floating*/
mark {
    --floating-background: #000;
    border-radius: 0;
    padding-bottom: 5px;
    background-image: linear-gradient(
        360deg,
        rgba(255, 255, 255, 0) 28%,
        var(--floating-background) 28%
    ) !important;
}
